<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>
            We received a request to reset your password.
            Click on the following link to reset your password:
        </p>
        <a href="{{link}}">Reset Password</a>
        <p>If this wasn't you, simply ignore this email.</p>
    </body>
</html>
